<section>     
  <img src="./img/profile-photo.png" draggable="false" width="150" height="150"/>      
  <img src="./img/handWave.gif" draggable="false" width="50" height="50"/>
    Hi, I'm Jose Reyes. <br><br><hr>
    <b>Software Development Engineer in Test /  Test Automation Engineer / Quality Advocate</b><br><br>
    <img src="./img/yellow-star.png" draggable="false" width="25" height="25" /> 
        Open to new and exiciting opportunities!  
      <img src="./img/yellow-star.png" draggable="false" width="25" height="25" /> 
    <hr>
    <div class="row">
      <div class="col">           
        <img src="./img/email.png" draggable="false" width="20" height="20" /> JF.Reyes925@gmail.com                
        <img src="./img/linkedin.png" draggable="false" width="20" height="20" /> <a href="https://www.linkedin.com/in/jose-7-reyes/">jose-7-reyes</a>
        <hr>
        <img src="./img/Home.png" draggable="false" width="20" height="20" /> <a href="../index.html">Home</a>
        <img src="./img/rocket.png" draggable="false" width="20" height="20" /> <a href="../projects.html">Projects</a>
      </div>   
</section>  
    
  
