<section>   
  
  
  <div class="jumbotron jumbotron-fluid">
    
      <center>
      <img src="./img/profile-photo.png" draggable="false" width="150" height="150"/>
      </center>
      <center><h1 class="display-5"> Jose Reyes</h1></center> 
      <center>
        Software Development Engineer in Test (SDET)<br>  
        <img src="./img/yellow-star.png" draggable="false" width="25" height="25" /> 
        Open to new and exiciting opportunities!  
        <img src="./img/yellow-star.png" draggable="false" width="25" height="25" />         
      </center>
      <hr>      
  </div>
      
    <div class="row">
      <div class="col">
        <img src="./img/Home.png" draggable="false" width="20" height="20" /> <a href="../index.html">Home</a>
        <img src="./img/rocket.png" draggable="false" width="20" height="20" /> <a href="../projects.html">Projects</a>
        <img src="./img/inBlue.png" draggable="false" width="18" height="18" /> <a href="https://www.linkedin.com/in/jose-7-reyes/">jose-7-reyes</a>
        <img src="./img/at.png" draggable="false" width="20" height="20" /> <a href= "mailto:name@email.com">jf.reyes925@gmail.com</a>                    
      </div>              
</section>  
    