@import url("https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700");
html {
  background: #5f97db linear-gradient(#a8c6ea, #434b55) fixed;
  height: 100%;
}
body {
  margin: 0;
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 300;
  background: url("../images/checker.png") fixed;
  min-height: calc(100% - 100px);
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
  background: #dedede;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
}

h3,
h4,
h5,
h6 {
  color: #310d9b;
  padding: 0;
  margin: 0 0 20px;
  line-height: 1.2;
}
h2 {
  color: #6030f1;
  padding: 0;
  margin: 0 0 20px;
  line-height: 1.2;
}
.title-text {
  font-family: Stencil Std, serif;
  color: #1648dc;
  font-size: 30px;
  overflow-x: auto;
}rw
.title-sub-text {
  font-family: American Typewriter, serif;
  color: #000000;
  font-size: 17px;
  overflow-x: auto;
}
.section-title {
  font-family: Stencil Std, serif;
  color: #1648dc;
  font-size: 30px;
  overflow-x: auto;
}
.sub-section-title {
  font-family: American Typewriter, serif;
  color: #1648dc;
  font-weight: 600;
  font-size: 15px;
  overflow-x: auto;
}
.profile-title {
  font-family: American Typewriter, serif;
  color: #000000;
  font-size: 25px;
  font-weight: 500;
  overflow-x: auto;
}
.profile-text {
  font-family: Verdana, sans-serif;
  color: #000000;
  font-weight: 600;
  font-size: 15px;
  overflow-x: auto;
}
.opportunities-text {
  font-family: Verdana, sans-serif;
  text-align: left;
  color: #1648dc;
  font-size: 15px;
  overflow-x: auto;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
  column-width: 80%;
}
.section {
  border-color: #4204ff;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

span {
  display: inline-block;
}

#animatedTextContainer {
  text-align: center;
  margin-top: 50px;
}

#animatedText {
  font-family: Marker Felt, fantasy;
  color: #0a681d;
  font-size: 10px;
  overflow-x: auto;
  animation: fadeIn 2s ease-in-out infinite;
}

.main-content {
  margin-left: 20%;
  top: 17%;
  width: 60%;
  padding: 2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff29;
}

.header {
  position: fixed;
  background: #ffffff linear-gradient(#ffffff96, #ffffffa8);
  top: 0%;
  left: 3%;
  height: 15vh;
  padding: 20px;
  box-shadow: 12px 0 15px rgba(0, 0, 0, 0.1);
}

#profileHeader {
  /* position: fixed; */
  margin-top: 0.5vh;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
  margin-bottom: 0.5vh;
  background: #bcbaba;
  padding: 10px;  
  max-width: 100%;
  font-size: 25px;
  /* box-shadow: 12px 0 15px rgba(0, 0, 0, 0.1); */
}

section {
  margin-top: 0.5vh;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
  margin-bottom: 0.5vh;
  background: #ffffff;
  padding: 10px;
}

ul {
  list-style: disc inside;
  padding-left: 5px;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #ffffff;
}

#bulletPoints {
  top: 0%;
  left: 0%;  
  padding: 0 2px;
  
}

/* Screens larger than 764 */
@media (min-width: 764px) {
  .row {
    max-width: 100%;
    padding: 3px;
    border-color: #4204ff;
    display: flex;
  }

  .left-column {
    flex: 0 0 50%; 
  }
  
  .right-column {
    flex: 0 0 50%; 
  }

  body {
    font-size: 18px;
  }

  .container {
    max-width: 750px;
  }

  header h1 {
    font-size: 32px;
  }

  button {
    width: auto;
    padding: 12px 20px;
  }
  #headerRight {
    font-family: Verdana, sans-serif;
    text-align: left;
    color: #1648dc;
    font-size: 15px;
    overflow-x: auto;
  }

  #mobileHeader {
    
  }
  
}

/* For smaller devices (min-width: 390px) */
@media (min-width: 390px) and (max-width: 764px) {
  .row {
    max-width: 100%;
    padding: 3px;
    border-color: #4204ff;
    display: flex;
  }

  .left-column {

    flex: 0 0 50%; 
  }
  
  .right-column {

    flex: 0 0 50%; 

  }

  .main-content {
    margin-left: 4%;
    top: 17%;
    width: 100%;
    padding: 17px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff29;
  }
  .header {
    position: fixed;
    background: #ffffff linear-gradient(#ffffff96, #ffffffa8);
    top: 0%;
    left: 3%;
    height: 15vh;
    /* width: 20%; */
    /* background-color: #f4f4f4; */
    padding: 20px;
    box-shadow: 12px 0 15px rgba(0, 0, 0, 0.1);
  }

  section {
    margin-top: 0.5vh;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
    margin-bottom: 0.5vh;
    background: #ffffff;
    padding: 10px;
  }

 
  ul {
    list-style: disc inside;
    padding-left: 5px;
  }

  .container {
    max-width: 100%;
    padding: 0px;
  }
  .main-content {
    max-width: 100%;
    padding: 0px;
  }
  .section {
    max-width: 100%;
    padding: 0px;
  }

  .section {
    border-color: #4204ff;
    max-width: 100%;
    padding: 0px;
  }

  header h1 {
    font-size: 28px; /* Intermediate size */
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #ffffff;
  }

  .title-text {
    width: auto;
  }
 
}
